*.class
*.log
*.jar
*.xml
*.iml
*.DS_Store
*.ensime
*export
*out
centerRouter/project/project/*
centerRouter/project/target/*
centerRouter/target/*
agent/project/project/*
agent/project/target/*
agent/target/*
front/project/project/*
front/project/target/*
front/target/*
shared/project/project/*
shared/project/target/*
shared/target/*

centerRouter/centerRouter/*
agent/agent/*
front/front/*
centerRouter/.ensime_cache/*
agent/.ensime_cache/*
front/.ensime_cache/*
target/*