@import nathan.monitorSystem.Protocols.AgentMachineEntity
@import nathan.monitorSystem.Protocols.LoadAvgEntity
@import nathan.monitorSystem.Protocols.FileUsageEntity
@import nathan.monitorSystem.Protocols.MEMEntity
@import util.HtmlUtil
@(title: String, agentList: List[AgentMachineEntity], unhealthAgentLit: List[String], someInfos: List[(String, Option[LoadAvgEntity], Option[FileUsageEntity], Option[MEMEntity])])
@*首页*@
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/front-fastopt.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/highcharts.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/util.js")"></script>
    </head>
    <body>
        @com.navbar()
        <div class="container">
            <div class="row">
            @for((item, i) <- agentList.zipWithIndex) {
                <div class="row">
                    <div class="col-md-5 table-bordered">
                        <div id="cpu@i"></div>
                    </div>
                    <div class="col-md-7">
                        <p class="h4 row text-muted">&ensp;
                                &ensp;
                            agent:
                            <span class="text-primary">@item.ip:@item.akkaPort</span>
                            <span class="badge"> @if(unhealthAgentLit.contains(item.agentId)) {不健康} else {健康} </span>
                        </p>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="text-primary">系统负载</p>
                            </div>
                            <div class="col-md-10">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @someInfos.filter(_._1 == item.agentId).head._2.map(_.`1min` * 1.0 / item.coresPerCpu * 100).map(_.toInt).getOrElse(0.0)%;" >
                                        @someInfos.filter(_._1 == item.agentId).head._2.map(_.`1min` * 1.0 / item.coresPerCpu * 100).map(_.toInt).getOrElse(0.0)
                                        %
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="text-primary">文件系统</p>
                            </div>
                            <div class="col-md-10">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @someInfos.filter(_._1 == item.agentId).head._3.map(f => f.used * 1.0 / f.total*100).map(_.toInt).getOrElse(0.0)%;" >
                                        @someInfos.filter(_._1 == item.agentId).head._3.map(f => f.used * 1.0 / f.total * 100).map(_.toInt).getOrElse(0.0)
                                        %
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="text-primary">物理内存</p>
                            </div>
                            <div class="col-md-10">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @someInfos.filter(_._1 == item.agentId).head._4.map(m => m.used * 1.0 / m.total * 100).map(_.toInt).getOrElse(0.0)%;" >
                                        @someInfos.filter(_._1 == item.agentId).head._4.map(m => m.used * 1.0 / m.total * 100).map(_.toInt).getOrElse(0.0)
                                        %
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="text-primary">负载详情</p>
                            </div>
                            <div class="col-md-10">
                                <table class="table table-striped table-hover">
                                    <tr><td>1minute</td>
                                        <td>5minute</td>
                                        <td>15minute</td></tr>
                                    <tr><td> @someInfos.filter(_._1 == item.agentId).head._2.map(_.`1min`).getOrElse(0.0) </td>
                                        <td>@someInfos.filter(_._1 == item.agentId).head._2.map(_.`5min`).getOrElse(0.0) </td>
                                        <td>@someInfos.filter(_._1 == item.agentId).head._2.map(_.`15min`).getOrElse(0.0) </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="text-primary">最后心跳时间</p>
                            </div>
                            <div class="col-md-10">
                                <p class="text-info">@HtmlUtil.timeShow(item.lastReceiveMsgTime) </p>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    nathan.service.index.IndexService().drawPipeChart('@item.agentId', "cpu@i")
                </script>
            }
            </div>
        </div>
        <script type="text/javascript">
                nathan.service.index.IndexService().indexService()
        </script>
    </body>
</html>