@(title: String)
    @*file数据展示*@
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/front-fastopt.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/highcharts.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/util.js")"></script>
    </head>
    <body>
        @com.navbar()
    <div class="row">
        <div class="col-md-3">@com.sideNavAgentList(s"""nathan.service.metric.MetricService().fileService(this.getAttribute("agentid"))""")</div>
        <div class="col-md-9">
            <div id="con"></div>
            <div class="row" id="showFileData">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        </script>
    </body>
</html>